body

{
    box-sizing: border-box;
}

#main_wrapper

{
    font-family: 'Raleway', serif, sans-serif;
    font-size: 10px;    
    width: 920px;
    display: flex;
    flex-direction: column;
    margin: auto
}

h3

{
    font-size: 1.2em;
}

#main_header
{
    display: flex;
    justify-content: space-between;
}



#main_logo

{
    height: 40px;
    padding-top: 20px;
}


nav a

{
    padding-top: 40px;
    
}

nav a:hover

{


    border-top: 3px solid blue;
}


.nav_head {
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 150px;
    height: 90px;
    text-decoration:none;

  }

  #titre h1

  {
      margin-bottom: -8px;
  }


  form {

    display: flex;
    flex-direction: row;
    margin-bottom: 20px


  }

  #localisation {
    
    

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding-top: 4px;
  }
  
  form .loca 

{
    background-color: rgb(216, 215, 215);
    border-radius: 20px 0px 0px 20px;
    padding-top: 8px;
    width: 35px;
    
}

  #submit {
    border: solid blue 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
    height: 40px;
   

}






  .filtres

  {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
  }

  .filtre

  {
      display: inline-block;
        border: 1px solid black;
      font-weight: bold;
      border: 2px solid lightblue;
      border-radius: 40px;
      margin-left: 10px;
      
      
      
      
  }

  .icone
  {
      font-size: 25px;
      margin-left: -10px;
      margin-top: -5px;
      margin-bottom: -5px;

  }

  .bleuclair

  {
      color: lightblue
  }

  .fa-inverse.bleu

  {
      font-size: 20px;
  }

  .bleu 

  {
      color: blue
  }

  .filtre_texte

  {
      margin-right: 20px;
      
  }


  #info

  {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
.icone2

{
    font-size: 10px;
   
}

  .blanc

  {
      color: white;
  }

  .bleu2

  {
      font-size: 10px;
      color: blue
  }


  #conteneur {
    background-color: white;
    display: flex;
    justify-content: space-between;
  }

  .fond_heb

  {
    background-color: rgb(218, 216, 216);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 65%;


  }

  #hebergement_liste

  {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
    
  }



.pic1{
    width: 149px;  
    height: 120px;
margin-right: 5px;
background-color: white;
border: white 5px solid;
border-radius: 20px;
margin-bottom: 2%;
margin-bottom: 15px;




}

.pic1 h3

{
    margin-top: 0px;
    margin-bottom: -10px;
}

.pic1 p

 {
     margin-bottom: 5px;
 }


a

{
    text-decoration: none;
    color: black
}


img.image1
{
    width: 100%;
    max-height: 70px;
    object-fit: cover;
    border: solid white 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

.star

{
    margin-top: -20px;
}

#afficherplus

{

    margin-top: 10px
     
}







.populaire

{
    width: 28%;
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 216, 216);
}

#populaire_liste

{
    display: flex;
    flex-direction: column;
    }

#pop_title

{
    display: flex;
    justify-content: space-between;

}

#pop_title .fas

{
    margin-top: 10px;
    margin-right: 15px;
}

.pic2

{
    width: 210px;
    height: 90px;
margin-right: 5px;
background-color: white;
border: white 5px solid;
border-radius: 20px;
margin-bottom: 2%;
display: flex;



}


img.image2 {

    width: 90px;
    height: 90px;
    border: 1px white solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}




.pop_content

{
    margin-left: 5px;
}


.populaires p

{
    margin-top: -10px;
    margin-bottom: 25px;
}

.populaires h3

{
    
        margin-top: 2px;
    
}
