body

{
    box-sizing: border-box;
    background-color: rgb(242, 242, 242);
}

#main_wrapper

{
    font-family: 'Raleway', serif, sans-serif;
    font-size: 10px;    
    width: 920px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

h3

{
    font-size: 1.2em;
}

/*-- Header + Titre --*/

#main_header
{
    display: flex;
    justify-content: space-between;
}



#main_logo

{
    height: 40px;
    padding-top: 20px;
}


nav a

{
    padding-top: 40px;
    
}

nav a:hover

{


    border-top: 3px solid blue;
}


.nav_head {
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 150px;
    height: 90px;
    text-decoration:none;

  }

  h1

  {
      margin-bottom: -8px;
  }

/*-- Recherche --*/

  form {

    display: flex;
    flex-direction: row;
    margin-bottom: 20px;


  }

  #localisation {
    
    

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding-top: 4px;
    margin-left: 5px;
        
  }
  
  form .loca 

{
    background-color:rgb(231, 231, 231);
    border-radius: 20px 0px 0px 20px;
    padding-top: 8px;
    width: 35px;
    

    
}

  #submit {
    border: solid rgb(0, 101, 252) 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
    height: 40px;
   

}


/*-- Filtres --*/



  .filtres

  {
      display: flex;
      width: 75%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 13px;
      

    }

  .filtre

  {
      display: inline-block;
      border: 2px solid rgb(222, 235, 255);
      border-radius: 40px;
      margin-left: 10px;
      
      
      
      
  }

  .icone
  {
      font-size: 20px;
      margin-left: -10px;
      margin-top: -2px;
      margin-bottom: -2px;

  }

  .bleuclair

  {
      color: rgb(222, 235, 255);
  }

  .fa-inverse.bleu

  {
      font-size: 15px;
  }

  .bleu 

  {
      color: rgb(0, 101, 252)
  }

  .filtre_texte

  {
      margin-right: 20px;
      
  }


  #info

  {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
.icone2

{
    font-size: 10px;
   
}

  .blanc

  {
      color: rgb(222, 235, 255)
  }

  .bleu2

  {
      font-size: 10px;
      color: blue
  }


/*-- Hébergements --*/


  #conteneur {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    margin-top: 30px;
  }

  .fond_heb

  {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 65%;
    border: 1px rgb(231, 231, 231) solid;
    border-radius: 20px;


  }

  .fond_heb h2

  {
      margin-left: 20px;
  }

  #hebergement_liste

  {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
    
  }



.pic1{
    width: 149px;  
    height: 120px;
margin-right: 5px;
background-color: white;
border: white 5px solid;
border-radius: 20px;
margin-bottom: 2%;
margin-bottom: 15px;




}

.pic1 h3

{
    margin-top: 0px;
    margin-bottom: -10px;
}

.pic1 p

 {
     margin-bottom: 5px;
 }


a

{
    text-decoration: none;
    color: black
}


img.image1
{
    width: 100%;
    max-height: 70px;
    object-fit: cover;
    border: solid white 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;


}



#afficherplus

{

    margin-top: 10px
     
}



/*-- Populaires --*/



.populaire

{
    width: 28%;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
}

.populaire img

{
    object-fit: cover;
}

.populaire h2

{
    margin-left: 20px;
}

#populaire_liste

{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

#pop_title

{
    display: flex;
    justify-content: space-between;

}

#pop_title .fas

{
    margin-top: 10px;
    margin-right: 15px;
}

.pic2

{
    width: 210px;
    height: 90px;
margin-right: 5px;
background-color: white;
border: white 5px solid;
border-radius: 20px;
margin-bottom: 4%;
display: flex;



}


img.image2 {

    width: 90px;
    border: 1px white solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}




.pop_content

{
    margin-left: 5px;
    
}


.populaires p

{
    margin-top: -10px;
    margin-bottom: 25px;
}

.populaires h3

{
    
        margin-top: 2px;




 /*-- Activites --*/
    
}

#activites_liste {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;




}


.duo_card {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
    
}

.pic3 {
    border: white 1px solid;
    border-radius: 20px;
    background-color: white;
    
}


#activites img

{
    object-fit: cover;
}




#activites h3 {
    margin-left: 20px
}

/*-- Footer --*/

footer {
    width: 980px;
    background-color: rgb(231, 231, 231);
    display: flex;
    margin-bottom: 2%;
    margin: auto;
    font-family: 'Raleway', serif, sans-serif;
    font-size: 10px;    
}

#propos {
    margin-right: 12%;
    margin-left: 4%;
    margin-bottom: 20px;
}

#nos_hebergements {
    margin-right: 12%;
    
}

footer h2

{
    margin-bottom: 25px;
}



footer p {
    font-size: 1.3em;
    margin-top: -5px
    
}
